{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf470
{\fonttbl\f0\fmodern\fcharset0 Courier;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;}
\paperw11900\paperh16840\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\deftab720
\pard\pardeftab720\sl280\partightenfactor0

\f0\fs24 \cf2 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec2 # Created by https://www.gitignore.io/api/macos,windows,netbeans\
\
### macOS ###\
**/.DS_Store\
\pard\pardeftab720\sl280\partightenfactor0
\cf0 \outl0\strokewidth0 **/\cf2 \outl0\strokewidth0 \strokec2 .AppleDouble\
\cf0 \outl0\strokewidth0 **/\cf2 \outl0\strokewidth0 \strokec2 .LSOverride\
\pard\pardeftab720\sl280\partightenfactor0
\cf2 \
# Icon must end with two \\r\
\pard\pardeftab720\sl280\partightenfactor0
\cf0 \outl0\strokewidth0 **/\cf2 \outl0\strokewidth0 \strokec2 Icon\
\pard\pardeftab720\sl280\partightenfactor0
\cf2 \
# Thumbnails\
\pard\pardeftab720\sl280\partightenfactor0
\cf0 \outl0\strokewidth0 **/\cf2 \outl0\strokewidth0 \strokec2 ._*\
\pard\pardeftab720\sl280\partightenfactor0
\cf2 \
# Files that might appear in the root of a volume\
\pard\pardeftab720\sl280\partightenfactor0
\cf0 \outl0\strokewidth0 **/\cf2 \outl0\strokewidth0 \strokec2 .DocumentRevisions-V100\
\cf0 \outl0\strokewidth0 **/\cf2 \outl0\strokewidth0 \strokec2 .fseventsd\
\cf0 \outl0\strokewidth0 **/\cf2 \outl0\strokewidth0 \strokec2 .Spotlight-V100\
\cf0 \outl0\strokewidth0 **/\cf2 \outl0\strokewidth0 \strokec2 .TemporaryItems\
\cf0 \outl0\strokewidth0 **/\cf2 \outl0\strokewidth0 \strokec2 .Trashes\
\cf0 \outl0\strokewidth0 **/\cf2 \outl0\strokewidth0 \strokec2 .VolumeIcon.icns\
\cf0 \outl0\strokewidth0 **/\cf2 \outl0\strokewidth0 \strokec2 .com.apple.timemachine.donotpresent\
\pard\pardeftab720\sl280\partightenfactor0
\cf2 \
# Directories potentially created on remote AFP share\
\pard\pardeftab720\sl280\partightenfactor0
\cf0 \outl0\strokewidth0 **/\cf2 \outl0\strokewidth0 \strokec2 .AppleDB\
\cf0 \outl0\strokewidth0 **/\cf2 \outl0\strokewidth0 \strokec2 .AppleDesktop\
\cf0 \outl0\strokewidth0 **/\cf2 \outl0\strokewidth0 \strokec2 Network Trash Folder\
\cf0 \outl0\strokewidth0 **/\cf2 \outl0\strokewidth0 \strokec2 Temporary Items\
\cf0 \outl0\strokewidth0 **/\cf2 \outl0\strokewidth0 \strokec2 .apdisk\
\pard\pardeftab720\sl280\partightenfactor0
\cf2 \
### NetBeans ###\
\pard\pardeftab720\sl280\partightenfactor0
\cf0 \outl0\strokewidth0 **/\cf2 \outl0\strokewidth0 \strokec2 nbproject/private/\
\cf0 \outl0\strokewidth0 **/\cf2 \outl0\strokewidth0 \strokec2 build/\
\cf0 \outl0\strokewidth0 **/\cf2 \outl0\strokewidth0 \strokec2 nbbuild/\
\cf0 \outl0\strokewidth0 **/\cf2 \outl0\strokewidth0 \strokec2 dist/\
\cf0 \outl0\strokewidth0 **/\cf2 \outl0\strokewidth0 \strokec2 nbdist/\
\cf0 \outl0\strokewidth0 **/\cf2 \outl0\strokewidth0 \strokec2 .nb-gradle/\
\pard\pardeftab720\sl280\partightenfactor0
\cf2 \
### Windows ###\
# Windows thumbnail cache files\
\pard\pardeftab720\sl280\partightenfactor0
\cf0 \outl0\strokewidth0 **/\cf2 \outl0\strokewidth0 \strokec2 Thumbs.db\
\cf0 \outl0\strokewidth0 **/\cf2 \outl0\strokewidth0 \strokec2 ehthumbs.db\
\cf0 \outl0\strokewidth0 **/\cf2 \outl0\strokewidth0 \strokec2 ehthumbs_vista.db\
\pard\pardeftab720\sl280\partightenfactor0
\cf2 \
# Folder config file\
\pard\pardeftab720\sl280\partightenfactor0
\cf0 \outl0\strokewidth0 **/\cf2 \outl0\strokewidth0 \strokec2 Desktop.ini\
\pard\pardeftab720\sl280\partightenfactor0
\cf2 \
# Recycle Bin used on file shares\
\pard\pardeftab720\sl280\partightenfactor0
\cf0 \outl0\strokewidth0 **/\cf2 \outl0\strokewidth0 \strokec2 $RECYCLE.BIN/\
\pard\pardeftab720\sl280\partightenfactor0
\cf2 \
# Windows Installer files\
**/.cab\
**/.msi\
**/.msm\
**/.msp\
\
# Windows shortcuts\
**/.lnk\
\
# End of https://www.gitignore.io/api/macos,windows,netbeans\
}